body {
	height: 100%;
}

* {
	font-family: "Comic Sans MS";
}

.container {
	margin-top: 2%;
	width: 670px;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	border-radius: 4px;
}

#header-container {
	height: 125px;
	width: 670px;
	border-bottom: 2px solid black;
}

#smiley-image {
	height: 100px;
	width: 100px;
	margin-top: 13px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 15px;
}

#smiley-image-container {
	display: inline-block;
	height: 125px;
	width: 140px;
	border-right: 2px solid black;
}

#mad-libs-img-container {
	position: absolute;
	display: inline-block;
	height: 58px;
	width: 230px;
	margin-left: 145px;
	margin-right: 40px;
	margin-top: 13px;
}

#mad-libs-img {
	position: relative;
	height: 58px;
	width: 230px;
}

#automate {
	position: absolute;
	display: inline;
	text-align: center;
	font-weight: lighter;
	margin-left: 125px;
	margin-top: 55px;
	padding: 0px;
	font-size: 2.5em;
}

.words {
	height: 235px;
	width: 100%;
}

#provide {
	font-size: 1.3em;
	padding-top: 1.5%;
}

.words-container {
	width: 610px;
	height: 135px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

input {
	position: relative;
	height: 28px;
	border-radius: 4px;
	border: 2px solid black;
	color: black;
	text-align: center;
	font-size: 1em;
	margin-right: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
}

input:hover {
	cursor: text;
}

.madlibs {
	height: 300px;
	width: 100%;
	border-top: 2px solid black;
}

p {
	font-size: 1.2em;
	padding-left: 7%;
}

#p1 {
	padding-top: 2%;
	padding-right: 6%;
}

#p2 {
	padding-right: 6%;
	padding-top: 1%;
}

.input-word {
	color: #A50000;
}